// Custom styles.

.site-nav-toggle button {  /*hamburger background*/
 background: #222;
}

.btn-bar {    /*hamburger color*/
 background: #fff;
}
.site-subtitle {
 color: black
 font-weight: bold
 font-style: italic
 font-family: Arial
}

 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

#header {
  background-image: url(/uploads/menu_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
